.tab .tab-content {
	background-color:#FFF;
}

.tab .tab-content > li h4 {
	width:120px;
	margin:150px auto;
	padding:70px 20px 20px 20px;
	border:solid 5px #dc5147;
	border-radius:120px;
	color:#dc5147;
	text-align:center;
	position:relative;
	overflow:hidden; 
}

.tab .tab-content > li h4:before {
	width:50%;
	margin:0 auto;
	color:#dc5147;
	font-size:3rem;
	text-align:center;
	display:block;
	position:absolute;
	top:10px;
	left:25%;
}

.tab .tab-content > li:nth-child(1) h4:before {
	content:"1";
}

.tab .tab-content > li:nth-child(2) h4:before {
	content:"2";
}

.tab .tab-content > li:nth-child(3) h4:before {
	content:"3";
}

.tab .tab-content > li:nth-child(4) h4:before {
	content:"4";
}


.tab-horiz .tab-legend > li:first-child.active {
	padding-left:16px;
	border-left:0;
}

.tab-horiz .tab-legend > li:last-child.active {
	padding-right:16px;
	border-right:0;
}

.unselectable, .tab .tab-legend > li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.tab {
  width: 100%;
  margin: 20px 0;
  padding: 0 10px;
  overflow: hidden; }

.tab > .tab-legend, .tab > .tab-content, .tab-legend > li, .tab-content > li {
  margin: 0;
  padding: 0;
  list-style: none; }

.tab .tab-legend {
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden; }

.tab .tab-legend > li {
  padding: 15px 10px 15px 20px;
  color: #313131; text-align:left;
  font-weight:bold;
  font-size: 16px;
  text-transform: uppercase;
  float: left;
  cursor: pointer; }

.tab .tab-legend > li {
  background-color: #dedede; }

.tab .tab-legend .active {
  padding: 15px 10px 15px 20px;
  background-color: #FFF;
  color: #dc5147; }

.tab .tab-content {
  width: 100%;
  min-height: 350px;
  position: relative;
  overflow: hidden; }

.tab .tab-content > li {
  position: relative;
  overflow: hidden; }

/*Horizontal specific*/
.tab-horiz .tab-legend {
  width: 100%; }

.tab-horiz .tab-legend > li {
  border-top: solid 1px #CCC;
  border-right: solid 1px #CCC;
  border-bottom: solid 1px #CCC; }

.tab.tab-horiz .tab-legend .active {
  border-top: solid 4px #dc5147;
  border-bottom: 0; }

.tab-horiz .tab-legend > li:first-child {
  border-left: solid 1px #CCC; }

.tab-horiz .tab-content {
  width: 100%; }

/*Vertical specific*/
.tab-vert .tab-legend {
  width: 28%;
  float: left; box-shadow:0 0 3px #bbb; }

.tab.tab-vert .tab-legend .active {
  border-left: solid 3px #dc5147; }

.tab-vert .tab-legend > li {
  width: 100%;
  border-top: solid 1px #CCC;
  border-right: solid 1px #CCC; }

.tab-vert .tab-legend > li.active {
  border-right: 0; }

.tab-vert .tab-content {
  width: 72%;
  display: block;
  float: left; }

.tab-vert .tab-content > li {
  min-height: 100%;
  display: block; }
  
  .tab-content p{margin:0; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#313131; line-height:28px; padding:5px 20px; text-align:justify;}
