@font-face{font-family:heading; src:url(../Efonts/Roboto-Bold.ttf);}
@font-face{font-family:medium; src:url(../Efonts/Roboto-Medium.ttf);}
@font-face{font-family:regular; src:url(../Efonts/Roboto-Regular.ttf);}
h1, h2, h3, h4, h5, h6{margin:0px; padding:0px; font-weight:normal;}
ul, ol{margin-left:30px;}
a{text-decoration:none;}
*{margin:0px; padding:0px;}
body{font-family:regular, Arial, Helvetica, sans-serif; font-size:14px; color:#313131;  }
.education-home-main{width:100%; height:auto; background:url(../homeimages/header-bg.jpg) repeat-x #f8f8f8;}
.header{width:1000px; height:auto;  margin:0px auto; position:relative;}
.top-menu-bar{width:1000px; height:44px;  margin:0px auto;}
#icon-bar{width:260px; height:30px;  float:left; margin-top:9px; margin-left:5px;}
#icon-bar a{display:block; height:30px; font-family:'Conv_NATS', Arial, Helvetica, sans-serif; font-size:22px; color:#069; background:#fff; border-radius:5px; box-shadow:0 1px 2px #313131; text-align:center;  font-weight:normal; line-height:42px; }
#icon-bar a:hover{text-decoration:underline;}
.header-links{width:auto; height:35px; float:left; margin-top:5px; margin-left:20px; }
.header-links ul{margin:0px; padding:0px;}
.header-links ul li{list-style-type:none; display:block; float:left; padding:0px 9px;  border-right:1px solid #015179; border-left:1px solid #0172aa;}
.header-links ul li a{font-family:Regular, Arial, Helvetica, sans-serif; font-size:14px; color:#fff; text-decoration:none; font-weight:normal; line-height:35px;}
.header-links ul li a:hover{text-decoration:underline;}
.header-links ul li:first-child{border-left:none;}
.header-links ul li:last-child{border-right:none;}
.search-bar{width:auto; height:auto; float:left;}
/* Search */
.search-block {
	height:30px;
	overflow: hidden;
	float:right;
	margin-right:5px; margin-top:8px; 
}
	.search-block:after{content: " ";display: block;width: 0;height: 0;position: absolute;top: 14px;z-index: 2;right:30px;
/* border: 4px solid transparent;border-right-color: #F88C00 ;	*/ 
	
	border: 0px solid transparent;border-right-color: #F88C00 ;}
	.search-block #s {
		background:#FFF;
		float: right;
		font: normal 11px Regular;
		padding: 9px 12px 8px 12px;
		width: 90px;
		color:#C5C5C5;
		border:0 none;
		border-left:1px solid #ececec;
		-o-transition: width .7s , color .4s;
		-webkit-transition: width .7s , color .4s;
		-moz-transition: width .7s , color .4s;
		transition: width .7s , color .4s;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0 ;
	}
	.search-block #s:focus {color:#000;width:150px;}
	.search-block .search-button {
		background:#f88c00 url(../homeimages/separate.png) no-repeat center -215px !important;
		cursor: pointer;
		float: right;
		height:30px;
		width:30px;
		text-indent:-999999px;
		display: block;
		border:0 none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0 ;
		box-shadow: none !important;
	}
	.search-block .search-button:active {top:0;}
	.search-block:hover .search-button,.search-block:hover #s {opacity:1;color:#444;}
	
	
/************************/
	
.logo-ad-bar{width:1000px; height:auto; background:#f0c11f; margin:0px auto; padding-bottom:5px;}
.logo-bar{width:230px; height:115px; float:left; text-align:center; padding-top:5px;}
.ad-728-bar{width:728px; height:110px;   float:right; margin-right:15px; margin-top:3px;}
#nav{width:1000px; height:70px; margin:0px auto; background:#f2f2f2; }
.home a{width:40px; height:70px; float:left; background:url(../homeimages/home-icon.png) no-repeat center center; transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out;}
.home a:hover{background:url(../homeimages/home-icon-h.png) no-repeat center center;}
.nav-set{width:auto; height:100%; float:left; margin-left:5px; transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; background:url(../homeimages/arrow.png) no-repeat right 10px; position:relative; }
.nav-set:hover{background:url(../homeimages/arrow-h.png) no-repeat right 10px;}
.nav-set h1{display:block; margin:0; padding:0; width:100%; height:33px; border-bottom:2px solid #ccc; text-indent:10px;  }
.nav-set h1 a{font-size:22px; color:#2184be; font-weight:normal; line-height:33px;}
.nav-set h1 a:hover{color:#313131;}
/*.nav-set h1 a:after {
    position: absolute;
    content: "";
    height: 15px;
    right: 7px;
    top: 3px;
    transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    width: 15px;
    border: 5px solid #ccc;
    border-bottom: none;
    border-left: none;
    border-radius: 2px;
}*/
.nav-set ul{margin:0; padding:0; }
.nav-set ul li{display:block; float:left; padding:2px 6px; list-style-type:none; border-right:1px solid #ccc; margin-top:5px;}
.nav-set ul li:last-child{border-right:none;}
.nav-set ul li a{font-size:15px; color:#666; text-decoration:none;}
.nav-set ul li a:hover{ text-decoration:underline;}
.nav-set .nav-drop-bar{width:auto; height:auto;  position:absolute; display:none; margin-top:35px; z-index:2000; }
.nav-set .nav-drop-bar ul{display:block; width:auto; height:auto; margin:0; padding:10px 10px; list-style-type: square;  background:#2184be;}
.nav-set .nav-drop-bar ul li{display:block; padding:5px 0px; width:50%; float:left; text-align:left; border:none; border-bottom:1px solid #2a8cc5;}
.nav-set .nav-drop-bar ul li a{font-size:15px; color:#fff; text-decoration:none;}
.nav-set .nav-drop-bar ul li a:hover{text-decoration:underline;}
.nav-set:hover > .nav-drop-bar{display:block;} 
.nav-drop-bar:before {
    border-top: 0;
    border-left: 13.5px solid transparent;
    border-right: 13.5px solid transparent;
    border-bottom: 13.5px solid #2184be;
    content: "";
    display: block;
    position:absolute;
    top: -25px;
    right: 10px;
    width: 0;
    height: 13.5px;
}
#navi-main-bar{width:1000px; height:auto; position:relative; background-color: #525151; margin:0px auto;}
#navi-main-bar ul{margin:0px; padding:0px;}
#navi-main-bar ul li{list-style-type:none; display:block; float:left;}
#navi-main-bar ul li a{display:block; padding:10px 10px; font-family:regular, Arial, Helvetica, sans-serif; font-size:14px; color:#fff; font-weight:normal; text-decoration:none; /*border-left:1px solid #454545;*/}
#navi-main-bar ul li a:hover{background:#fff; color:#ff9900;}
#navi-main-bar ul li ul{margin:0px; padding:0px; display:none; position:absolute; z-index:10000; background:#fff; box-shadow:0 0 5px #2184be;}
#navi-main-bar ul li ul li{list-style-type:none; display:block; width:50%; height:35px; float:left;  text-indent:15px; border-bottom:1px solid #f2f2f2; }
#navi-main-bar ul li ul li a{font-family:medium, Arial, Helvetica, sans-serif; font-size:12px; color:#313131; text-decoration:none; line-height:35px; padding:0px; border:none; }
#navi-main-bar ul li:hover > ul{display:block;}
#navi-main-bar ul li:hover > a{background:#fff; color:#ff9900;}
#web{width:1000px; height:auto; background: #e8e8e8;
background: -moz-linear-gradient(top, #e8e8e8 0%, #ffffff 50%, #e8e8e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(50%,#ffffff), color-stop(100%,#e8e8e8));
background: -webkit-linear-gradient(top, #e8e8e8 0%,#ffffff 50%,#e8e8e8 100%);
background: -o-linear-gradient(top, #e8e8e8 0%,#ffffff 50%,#e8e8e8 100%);
background: -ms-linear-gradient(top, #e8e8e8 0%,#ffffff 50%,#e8e8e8 100%);
background: linear-gradient(to bottom, #e8e8e8 0%,#ffffff 50%,#e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=0 ); margin:0px auto; position:relative; }
#web ul{margin:0px; padding:0px; }
#web ul li{list-style-type:none; display:block; float:left;  border-bottom:1px solid #f2f2f2;}
#web ul li a{display:block; padding:10px 9px;  font-size:14px; color:#414141; font-weight:normal; text-decoration:none; border-left:1px solid #D6E1F1;}
#web ul li a:hover{background:#fff; color:#313131;}
#web ul li ul{margin:0px; padding:0px; display:none; position:absolute; z-index:10000; background:#fff; box-shadow:0 0 5px #2184be;}
#web ul li ul li{list-style-type:none; display:block; width:50%; float:left; height:35px;  text-indent:15px; border-top:none;}
#web ul li ul li a{ font-size:12px; color:#313131; text-decoration:none; line-height:35px; padding:0px; border:none; }
#web ul li ul li a:hover{text-decoration:underline;}
#web ul li:hover > ul{display:block;}
#web ul li:hover > a{background:#fff; color:#313131;}
.sub-web-bar{width:1000px; height:35px; background:#fff; border:1px solid #f2f2f2; border-top:none;}
.sub-web-bar ul{margin:0px; padding:0px; list-style-type:none;}
.sub-web-bar ul li{display:block; float:left; padding:0px 7px 0px 45px; height:35px; background:url(../homeimages/ho/icons/eam-c.png) 5px center  no-repeat; background-size:30px 30px; border-right:1px solid #f2f2f2;}
.sub-web-bar ul li a{line-height:35px; color:#2184be; font-weight:bold; font-size:13px; text-decoration:none;}
.sub-web-bar ul li a:hover{color:#ff9900; text-decoration:none;}
.main-body-bar{width:990px; height:auto; background:#fff; margin:0px auto; padding:5px 5px; box-shadow:0 0 1px #bbbbbb;  }
.left-body-bar{width:850px; height:auto; float:left; }
.right-body-bar{width:134px; height:auto; float:right; box-shadow:0 0 3px #bbbbbb;  background:#fff; text-align:center;}
/*
.marque_con{width:1000px; height:30px;  margin:0px auto;  }
.marque_con h4{margin:0px; padding:0px; width:80px; height:30px; background:#000; font-family:"Times New Roman", Times, serif; font-size:16px; color:#FFFFFF; float:left; text-align:center; line-height:30px;}
.scroll{width:920px; height:30px; float:left;    }
.scroll marquee div{  width:auto; height:30px; float:left;    }
.scroll marquee div a{ display:block; background-image:url(../homeimages/m_img.png) ; background-repeat:no-repeat; background-position:0px 10px;  font-size:14px; color:#2e2e2e; text-decoration:none; padding-left:30px;  font-weight:none; line-height:30px; }
.scroll marquee div a:hover{color:#056291; display:block; background-image:url(../homeimages/m_img_h.png) ; background-repeat:no-repeat; background-position:0px 10px;}
*/

/*slider css starts*/
#slider1 {width:850px; float:left; height:70px;  position: relative; padding: 0 0px ;  background:#fff;  box-shadow:0 0 3px #bbbbbb;  }
#slider1 .viewport { height: 70px; overflow: hidden; position: relative;  }
#slider1 .buttons {
    background-color:#fff;
z-index:1000;
box-shadow:-2px 0px 3px #ccc;   
    display: block;
    position: absolute;
    top: 45px;
    right:0;
    width: 30px;
    height: 45px;
    color: #313131;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    font-size: 25px;
}
#slider1 .next {
    right: 0;
    left: auto;
    top:0;
}
#slider1 .buttons:hover{
    color: #fff;
    background: #2184be;
}
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0; top: 0; }
#slider1 .overview li{ float: left; margin: 5px 0px 0 3px;  height: 60px;  width:auto;  background:#fff;}
#slider1 .overview li:hover{box-shadow:0 0 8px #94dcff;}

.icon-img{width:40px; height:30px; background:#2184be; padding-top:10px; float:left; border-radius:40px; margin:4px 0px 0px 0px; text-align:center;}
.link-con{width:169px; height:65px;float:right;  font-size:11px; color:#2184be; text-align:center; padding:5px 0px 0px 0px; line-height:25px; font-weight:bold;}
.link-con a{font-family:regular, Arial, Helvetica, sans-serif; font-size:16px; color:#414141; font-weight:bold; text-decoration:none; }
.link-con a:hover{color:#ff9900;}
#slider1 .overview li h1{margin:0px; padding:0px; margin-top:10px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:18px; color:#00679a; font-weight:bold; text-align:center;}
#slider1 .overview li h1:hover{color:#f90;}
.left-mid-bar{width:850px; height:auto;  margin-top:5px;}
.left-con-block{width:200px; height:auto;  float:left; background:#fff; padding-bottom:5px; }
.eam-bar{width:200px; height:auto; margin:0px auto; background:#fff; box-shadow:0 0 3px #bbbbbb; padding-bottom:5px; }
.eam-bar h1{margin:0px; padding:0px; font-family:heading, Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal; text-align:center; line-height:35px; color:#2184be; background: #e8e8e8;
 }
.eam-bar ul{margin:0px; padding:0px;}
.eam-bar ul li{ list-style-type:none; display:block; width:190px; height:auto; line-height:20px;  min-height:40px; padding:0px 0px 0px 10px;  color:#666; font-family:regular, Arial, Helvetica, sans-serif; font-size:14px;  text-decoration:none; font-weight:normal; border-bottom:1px solid #e8e8e8;}
.eam-bar ul li a{font-family:regular, Arial, Helvetica, sans-serif; font-size:14px; color:#313131; text-decoration:none; font-weight:normal; line-height:40px;  transition:color 0.5s ease-in-out; -webkit-transition:color 0.5s ease-in-out; -moz-transition:color 0.5s ease-in-out; -o-transition:color 0.5s ease-in-out; -ms-transition:color 0.5s ease-in-out;}
.eam-bar ul li a:hover{color:#2184be;}
.eamlink{display:block; font-family:Medium, Arial, Helvetica, sans-serif; font-size:13px; color:#2184be; text-decoration:none; margin:10px 0px 0px 140px; font-weight:normal;}
.eamlink:hover{color:#313131;}
.TabScriptcontent{width:100%; height:auto; background:#fff; padding-bottom:0px; text-align:left;   }
 .TabScriptcontent div{ width:100%; height:auto; min-height:30px;     font-size:14px; color:#a4a4a4; }
.TabScriptcontent div a { display:block; width:95%; height:auto; 
font-family:regular, Arial, Helvetica, sans-serif;  font-size:14px; padding:5px 0px 5px 5%;  color:#313131; text-decoration:none; font-weight:normal; line-height:25px;
transition:color 0.5s ease-in-out; -webkit-transition:color 0.5s ease-in-out; -moz-transition:color 0.5s ease-in-out; -o-transition:color 0.5s ease-in-out; -ms-transition:color 0.5s ease-in-out; border-bottom:1px solid #e8e8e8;}	

.TabScriptcontent div a:hover {
	  color:#2184be;
	}
.TabScriptcontent div:last-child{border-bottom:none;}
.TabScriptcontent .datefield{display:none;}
.TabScriptcontent br{display:none;}
.TabScriptcontent-m{width:100%; height:auto; background:#fff; padding-bottom:10px; text-align:left;   }
 .TabScriptcontent-m div{ width:100%; height:auto; min-height:30px;     font-size:10px; color:#a4a4a4; border-bottom:1px solid #e8e8e8;}
.TabScriptcontent-m div a { display:block; width:95%; height:auto; 
font-family:'Conv_NATS', Arial, Helvetica, sans-serif;  font-size:18px; padding:9px 0px 0px 5%;  color:#313131; text-decoration:none; font-weight:normal; line-height:23px;
transition:color 0.5s ease-in-out; -webkit-transition:color 0.5s ease-in-out; -moz-transition:color 0.5s ease-in-out; -o-transition:color 0.5s ease-in-out; -ms-transition:color 0.5s ease-in-out;}	

.TabScriptcontent-m div a:hover {
	  color:#2184be;
	}
.TabScriptcontent-m div:last-child{border-bottom:none;}
.TabScriptcontent-m div .datefield{color: #ccc;
font-size: 12px;
font-weight: normal;
display: block;
text-align: right;
padding-right: 5px;}
.TabScriptcontent-e{width:100%; height:auto; background:#fff; padding-bottom:10px; text-align:left;   }
 .TabScriptcontent-e div{ width:100%; height:auto; min-height:30px;     font-size:10px; color:#a4a4a4; border-bottom:1px solid #e8e8e8;}
.TabScriptcontent-e div a { display:block; width:95%; height:auto; 
font-family: Regular, Arial, Helvetica, sans-serif;  font-size:14px; padding:9px 0px 0px 5%;  color:#313131; text-decoration:none; font-weight:normal; line-height:23px;
transition:color 0.5s ease-in-out; -webkit-transition:color 0.5s ease-in-out; -moz-transition:color 0.5s ease-in-out; -o-transition:color 0.5s ease-in-out; -ms-transition:color 0.5s ease-in-out;}	

.TabScriptcontent-e div a:hover {
	  color:#2184be;
	}
.TabScriptcontent-e div:last-child{border-bottom:none;}
.TabScriptcontent-e div .datefield{color: #ccc;
font-size: 12px;
font-weight: normal;
display: block;
text-align: right;
padding-right: 5px;}
.did-exam{width:100%; height:375px; background:#fff; padding-bottom:10px; overflow-x: hidden;
overflow-y: auto;  }
.did-exam ul{margin:0px; padding:0px; list-style-type:none;}
 .did-exam ul li{ width:100%; height:auto; min-height:30px;     font-size:10px; color:#a4a4a4;  border-bottom:1px solid #e8e8e8;}
.did-exam ul li a { display:block; width:95%; height:auto; 
font-family:Regular, Arial, Helvetica, sans-serif;  font-size:14px; padding:9px 0px 0px 5%;  color:#313131; text-decoration:none; font-weight:normal; line-height:23px;
transition:color 0.5s ease-in-out; -webkit-transition:color 0.5s ease-in-out; -moz-transition:color 0.5s ease-in-out; -o-transition:color 0.5s ease-in-out; -ms-transition:color 0.5s ease-in-out; }	

.did-exam ul li a:hover {
	  color:#2184be;
	}
.did-exam ul li:last-child{border-bottom:none;}
.did-exam ul li .datefield{color: #ccc;
font-size: 12px;
font-weight: normal;
display: block;
text-align: right;
padding-right: 5px;}
.did-exam ul li .datefield1{color: #2184be;
font-size: 12px;
font-weight: normal;
display: block;
text-align: right;
padding-right: 5px; padding-top: 5px;}
.did-exam1{width:100%; height:auto; background:#fff; padding-bottom:10px; text-align:left;  margin-top:7px;  }
.did-exam1 h1{margin:0px; padding:0px; width:100%; height:auto; font-family:Heading, Arial, Helvetica, sans-serif; font-size:16px; color:#2184be; font-weight:normal; padding:5px 0px; text-align:center; line-height:24px; background: #e8e8e8;
 }
.did-exam1 ul{margin:0px; padding:0px; list-style-type:none;}
 .did-exam1 ul li{ width:95%; height:auto; min-height:30px; padding:3px 0px 3px 5%;     font-size:10px; color:#a4a4a4;  border-bottom:1px solid #e8e8e8; font-size:14px;  color:#069;}
.did-exam1 ul li a {
font-family: Regular, Arial, Helvetica, sans-serif;  font-size:14px;  color:#313131; text-decoration:none; font-weight:normal; line-height:23px;
transition:color 0.5s ease-in-out; -webkit-transition:color 0.5s ease-in-out; -moz-transition:color 0.5s ease-in-out; -o-transition:color 0.5s ease-in-out; -ms-transition:color 0.5s ease-in-out;}	

.did-exam1 ul li a:hover {
	  color:#2184be;
	}


  #use-bar{margin:0px; padding:0px; list-style-type:none;}
  #use-bar li{display:block; padding:10px; background:#f2f2f2; float:left; margin:10px 5px 0 5px; border-radius:5px;}
  #use-bar li a{ font-size:14px; color:#313131; font-weight:normal;}
  #use-bar li a:hover{color:#2184be; }
.web-list-bar{width:330px; height:360px; float:left; margin-left:15px;  background:#fff; box-shadow:0 0 3px #bbbbbb;}
.gate-sp-bar{width:90px; height:75px; background:url(../homeimages/gate-icon.png) center 10px no-repeat #fff; background-size:35px 35px; margin:0px auto; text-align:center;}
.gate-sp-bar a{ font-size:16px; color:#2184be; text-decoration:none; font-weight:bold; line-height:120px;}
.gate-sp-bar a:hover{text-decoration:underline; color:#313131;}
.right-con-block{width:645px; height:auto;  float:right;  }
.DigiMarketing{text-align:left;font-size:12px;font-style:normal;line-height:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:150%;color:#000;text-decoration:none;padding:5px}
.top-con-bar{width:435px; height:360px; float:left; background:#fff; box-shadow:0 0 3px #bbbbbb; position:relative; margin-left:2px;}
.top-con-bar h1{margin:0px; padding:0px; width:435px; height:40px; font-family:Heading, Arial, Helvetica, sans-serif; font-size:16px; color:#414141; text-indent:20px; line-height:40px; background:url(../homeimages/h1-bg.jpg) repeat-x 0 center; font-weight:normal;}
.top-con-bar h1 span{display:block; width:110px; height:30px; background:#fff;}


.rslides {
  margin: 0px;
   position: relative;
  list-style: none;
   width:410px;
  padding: 0;

  }
  .rslides li {
 
   display: none;
  width: 435px;


  }


 


.rslides li .top-content{width:435px; height:auto;  }
.rslides li .top-content img{display:block; width:425px; height:200px;  border:5px solid #fff; box-shadow:0px 0px 3px #bbbbbb; }
.rslides li .top-content p{margin:0px; display:block; width:425px; height:auto;  font-size:14px; color:#313131;  padding:0px 10px;  line-height:25px; font-weight:normal; letter-spacing:0px; }
.rslides li .top-content a{display:block; width:425px; height:auto; padding:5px 10px; font-family:Heading, Arial, Helvetica, sans-serif; font-size:15px; text-decoration:none; color:#2184be; font-weight:normal; line-height:20px;  transition:color 0.5s ease-in-out; -webkit-transition:color 0.5s ease-in-out;  -moz-transition:color 0.5s ease-in-out; -o-transition:color 0.5s ease-in-out; -ms-transition:color 0.5s ease-in-out;}
.rslides li .top-content a:hover{text-decoration:none; color:#ff9900;}

.rslides_tabs {
  list-style: none;
  padding: 0;
  font-size: 18px;
   margin: 0px;
  max-width: 435px;

 
  
 
  
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding:0px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background:#00f;
  color: #fff;
  font-weight: bold;
  }



#slider3-pager{margin-left:180px; position:absolute; top:335px; left:0;  list-style-type:none; width:auto; height:15px;  clear:both; z-index:10000; }


#slider3-pager a {
  display: inline-block;
  width:17px; height:17px; background:#ccc; border-radius:15px;
}



#slider3-pager .rslides_here a {
	width:17px; height:17px;
  background:#2184be;
 
}

#slider3-pager a {
  padding: 0;
  margin:0px;
  
}
.must-container{width:200px; height:360px; float:right; background:#fff; box-shadow:0 0 3px #bbbbbb; }
.slider-main-body-con{width:645px; height:auto;  margin-top:10px;}
.slider-con{width:640px; height:80px; margin-left:2px; box-shadow:0 0 3px #bbbbbb;}
.main-con-bar{width:620px; height:auto; background:#f2f2f2; margin-top:10px; padding:8px; margin-left:3px;}
.rss-con{width:305px; height:auto; background:#fff; box-shadow:0 0 3px #bbbbbb; float:left;  }
.rss-con h1{margin:0px auto; padding:0px; width:100%; height:40px; background: #e8e8e8;
 font-family:heading, Arial, Helvetica, sans-serif; font-size:16px; color:#2184be; font-weight:normal; line-height:40px; text-align:center; }
.img-con-top {
width: auto;
height: auto;
margin: 10px 0px; position:relative;}
.img-con-top h1{margin:0px; padding:0px; width:150px; height:30px; background: #2184be;
 font-family:heading, Arial, Helvetica, sans-serif; font-size:16px; color:#fff; font-weight:normal; line-height:30px; text-align:center; position:absolute; left:7px; top:3px; z-index:10000;   }
.img-con-top img {
display: block;
border: 3px solid #fff;
box-shadow: 0 0 5px #ccc;
margin-left: 4px;}
.rss-link{width:100px; height:30px; text-align:center; line-height:30px; font-weight:normal; font-family:Regular, Arial, Helvetica, sans-serif; font-size:14px; color:#414141; background:#f2f2f2; margin-bottom:5px;}
.rss-link a{font-size:14px; color:#2184be; font-weight:normal; text-decoration:none; text-decoration:none;}
.rss-link a:hover{color:#313131;}
.rss-link-t{width:100px; height:20px; text-align:center; line-height:20px; font-weight:normal; font-family:Regular, Arial, Helvetica, sans-serif; font-size:14px; color:#414141;  position:absolute; right:0; bottom:5px; z-index:100; }
.rss-link-t a{font-size:14px; color:#2184be; font-weight:normal; text-decoration:none; text-decoration:none;}
.rss-link-t a:hover{color:#313131;}
.solved-in-bar{width:640px; height:auto; margin-top:10px;}
.solved-bar{width:350px; height:auto; background:#fff; box-shadow:0 0 3px #bbbbbb; float:left;}
.solved-bar h1{margin:0px; padding:0px; width:100%; height:35px; font-family:Heading, Arial, Helvetica, sans-serif; font-size:16px; color:#2184be; line-height:30px; text-indent:13px;  background:url(../homeimages/h1-bg.jpg) repeat-x 0 center; font-weight:normal; }
.solved-bar h1 span{display:block; width:135px; height:35px; background:#fff; margin-left:15px;}
.in-bar{width:280px; height:auto; background:#fff; box-shadow:0 0 3px #bbbbbb; float:right; }
.in-bar h1{margin:0px auto; padding:0px; width:100%; height:40px; background: #e8e8e8;
 font-family:Heading, Arial, Helvetica, sans-serif; font-size:16px; color:#2184be; font-weight:normal; line-height:40px; text-align:center; }
.in-bar ul{margin:0px; padding:0px; display:block; width:180px; height:auto; list-style-type:none; float:left;}
.in-bar ul li{list-style-type:none; display:block; width:90%; height:auto; min-height:30px; padding-left:10%; padding-top:13px; border-bottom:1px solid #e8e8e8; }
.in-bar ul li a{font-size:14px; color:#313131; font-weight:normal; line-height:30px; line-height:23px; }
.in-bar ul li a:hover{ color:#2184be;}
.in-bar img{display:block; width:90px; height:105px; float:left; margin-right:5px; margin-top:20px;}

#Softskills{ height:auto; width:133px; background:#fff; box-shadow:0px 0px 4px #bbbbbb; padding-bottom:5px; margin-top:7px; }
#Softskills h1{margin:0px 0px 5px 0px;  
 padding:0px;  font-size:18px; font-weight:normal; width:100%; text-align:center; line-height:35px; color:#2184be; background: #e8e8e8;
background: -moz-linear-gradient(top, #e8e8e8 0%, #ffffff 50%, #e8e8e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(50%,#ffffff), color-stop(100%,#e8e8e8));
background: -webkit-linear-gradient(top, #e8e8e8 0%,#ffffff 50%,#e8e8e8 100%);
background: -o-linear-gradient(top, #e8e8e8 0%,#ffffff 50%,#e8e8e8 100%);
background: -ms-linear-gradient(top, #e8e8e8 0%,#ffffff 50%,#e8e8e8 100%);
background: linear-gradient(to bottom, #e8e8e8 0%,#ffffff 50%,#e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=0 );  }
#Softskills ul{margin:0px; padding:0px; }
#Softskills ul li{ list-style-type:none; background:url(../homeimages/soft/inte.png) no-repeat; display:block; width:90px; height:auto; line-height:20px;  min-height:30px; padding:0px 2px 0px 32px; border-bottom:0px dashed #e8e8e8; color:#666;  text-decoration:none; font-weight:normal;}
#Softskills ul li a{ font-family: AvantGarde Md BT, Arial, Helvetica, sans-serif; font-size:13px; color:#313131; text-decoration:none; font-weight:normal; line-height:23px;}
#Softskills ul li a:hover{color:#2184be; text-decoration:underline;}
#Softskillslink{display:block; font-family:Regular, Arial, Helvetica, sans-serif; font-size:12px; color:#2184be; text-decoration:none; margin:10px 0px 0px 130px; font-weight:bold;}
#Softskillslink:hover{color:#ff9900;}

.events-bar{width:125px; height:auto;  padding:50px 0px 10px 0px; text-align:center; box-shadow:0 0 3px #2184be; margin:0px auto; margin-top:3px; background:url(../homeimages/events-icon.png) center 3px no-repeat; } 
.events-bar:hover{box-shadow:0 0 3px #ff9900;}
.events-bar a{ font-family:Heading, Arial, Helvetica, sans-serif; font-size:16px; color:#414141; } 
.ad120-600{width:130px; height:auto; margin-top:8px; background:#f2f2f2; padding-bottom:5px;}
.ad120-600 h1{margin:0px; padding:0px; width:100%; height:30px; font-family:Regular, Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#999; line-height:30px; text-align:center;}
.ask-bar{width:100%; height:142px; }
.ask-bar img{display:block; width:100px; height:100px; float:left;  margin-left:5px;}
.ask-bar .ask-con{width:235px; height:107px; float:right;  font-family:Regular, Arial, Helvetica, sans-serif; font-size:14px; color:#313131; line-height:24px;  padding-left:5px;}
.ask-bar .ask-con a{display:block; padding:3px 10px; float:left; font-family:Regular, Arial, Helvetica, sans-serif; font-size:14px; color:#fff; background-color: #707270;
background-image: -webkit-gradient(linear,left top,left bottom,from(#707270),to(#2a2a2a));
background-image: -webkit-linear-gradient(top,#707270,#2a2a2a);
background-image: -moz-linear-gradient(top,#707270,#2a2a2a);
background-image: -ms-linear-gradient(top,#707270,#2a2a2a);
background-image: -o-linear-gradient(top,#707270,#2a2a2a);
background-image: linear-gradient(to bottom,#707270,#2a2a2a);
filter: progid:DXImageTransform.Microsoft.gradie; border-radius:5px; margin-left:15px; margin-top:5px; font-weight:normal;}
 .ask-bar .ask-con a:hover{background:#2184be;
 background:-moz-linear-gradient(top, #2184be, #207fb7);
 background:-webkit-gradient(linear, left top, left bottom, from(#2184be), to(#207fb7));}
 .career-bar{width:645px; height:auto; background:#fff; margin-top:10px; box-shadow:0 0 3px #bbbbbb; padding-bottom:5px;}
 .career-bar h1{margin:0px; padding:0px; width:100%; height:35px; font-family:Heading, Arial, Helvetica, sans-serif; font-size:16px; color:#2184be; line-height:30px; text-indent:13px;  background:url(../homeimages/h1-bg.jpg) repeat-x 0 center; font-weight:normal; }
.career-bar h1 span{display:block; width:135px; height:35px; background:#fff; margin-left:15px;}
.video-bar{width:195px; height:199px; background:#f2f2f2; float:left; margin-left:7px; padding:5px 5px;}
.video-bar a{display:block; padding:5px; font-family:Regular, Arial, Helvetica, sans-serif; font-size:14px; color:#414141; text-decoration:none; font-weight:normal; line-height:23px;}
.ads-bar{width:640px; height:auto; margin-top:10px;}
.ad350-bar{width:310px; height:auto; padding-bottom:5px; float:left; margin-left:8px; background:#f2f2f2;}
.ad350-bar h1{margin:0px; padding:0px; width:100%; height:30px; font-family:Regular, Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#999; line-height:30px; text-align:center;}
.footer{width:100%; height:auto; background:#01669a; margin-top:10px; padding:5px 0px 0px 0px; border-bottom:3px solid #f2bc1c; }
.footer-resize{width:635px; height:auto; padding:5px 0px; background:#0373ad; margin:0px auto; border-radius:5px; }
.footer-resize a{font-family:Regular, Arial, Helvetica, sans-serif; font-size:14px; color:#fff; text-decoration:none; padding:0px 13px;}
.footer-resize a:hover{color:#fff; text-decoration:underline;}
.oth-info{width:1000px; height:auto; font-family:Regular, Arial, Helvetica, sans-serif; font-size:12px; color:#bbbbbb; text-align:center; line-height:20px; margin:0px auto; padding:5px 0px;}
.oth-info a{font-family:Regular, Arial, Helvetica, sans-serif; font-size:13px; color:#ffff00; font-weight:normal; padding:0px 5px;}
.oth-info a:hover{color:#ffff00; text-decoration:underline;}
 .jobs-con-tab{width:97%; height:auto; margin:10px auto; }
 .tabs-menu2{
	margin:0; padding:0; display:block;
	width:100%;
    height: auto;
    
    clear: both;
}

.tabs-menu2 li {
    display:block; padding:10px 9px;
    float: left;
    margin-right: 5px;
    background-color: #e9e9e9;
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}

.tabs-menu2 li.current2 {
    position: relative;
    background-color: #2184be;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu2 li a {
   
    
    color: #313131; font-size:16px;
    text-decoration: none; 
}

.tabs-menu2 .current2 a {
    color: #fff;
}

.tab2 {
    
    background-color: #fff; border:1px solid #e9e9e9;
   
    
    width: auto;
}

.tab-content2 {
    width: 100%;
        display: none; 
}

#j {
 display: block;   
}
.right-con-bar-u{width:100%; height:auto;  }
.right-con-bar-u ul{margin:0; padding:0;}
.right-con-bar-u ul li{display:block; padding:5px 10px; width:95%; height:auto;     font-size:14px; color:#a4a4a4; border-bottom:1px solid #e9e9e9; }
.right-con-bar-u ul li a { 
	 font-size:14px;  color:#313131; text-decoration:none; line-height:22px; 
	}	

.right-con-bar-u ul li a:hover {
	  text-decoration:underline;
	}
.right-con-bar-u ul li:last-child{border-bottom:none;}
/* scroll up */
.scrollup{
    width:35px;
    height:65px;
    opacity:1;
    position:fixed;
    bottom:10px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url(../homeimages/top-up-arrow.jpg) no-repeat left top;
	z-index: 999;
}
.add-clm{width:840px; height:auto; padding:5px; background:#fff; box-shadow:0 0 3px #bbbbbb; margin-bottom:7px;}

/* home page right side banks special block css start */
#bank-Spl{width:194px; height:auto; padding:3px;  margin-bottom:8px; background:#D1EDFA;}
.banks-Spl-slt{width:192px; margin-top:5px; margin-bottom:5px; padding:1px; height:auto; background:#fff; font-family:"calibri", Arial, Helvetica, sans-serif; font-size:13px; text-align:center;}
.banks-Spl-slt h1 {border-radius:4px; background: #0575ac; /* Old browsers */background: -moz-linear-gradient(top, #0575ac 0%, #024573 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0575ac), color-stop(100%,#024573)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top, #0575ac 0%,#024573 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0575ac 0%,#024573 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top, #0575ac 0%,#024573 100%); /* IE10+ */background: linear-gradient(to bottom, #0575ac 0%,#024573 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0575ac', endColorstr='#024573',GradientType=0 );position: relative;font-family:"calibri", Arial, Helvetica, sans-serif; font-size:19px; font-weight:normal; color:#fff; display:block; height:35px; text-transform: uppercase;line-height:35px;text-align:center; font-weight:normal; width:192px;}
.banks-Spl-slt p {margin:0px; display:block; width:140px; height:auto; 	font-family: Arial, Helvetica, sans-serif; font-size:13px; color:#000; text-align:justify; 	float:left; line-height:25px; font-weight:normal; letter-spacing:0px; }
.banks-Spl-slt p a {margin:0px; display:block; width:192px; height:auto; 	font-family: Arial, Helvetica, sans-serif; font-size:14px; color:#000; text-align:justify;padding:2px 0px 0px 0px; 	line-height:20px; font-weight:normal; letter-spacing:0px; }
.banks-Spl-slt p a:hover{color:#22B8E8;} 
/* home page right side banks special block css end */

.gate-sp-bar{width:110px; height:75px; background:url(homeimages/gate-icon.png) center 10px no-repeat #fff; background-size:35px 35px; margin:0px auto; text-align:center;}
.gate-sp-bar a{font-family:Heading, Arial, Helvetica, sans-serif; font-size:15px; color:#2184be; text-decoration:none; font-weight:normal; line-height:120px;}
.gate-sp-bar a:hover{text-decoration:underline; color:#313131;}
.portal-spl-bar{width:200px; height:auto; background:#fff; box-shadow:0 0 3px #bbbbbb; margin-bottom:10px;  }
.portal-spl-bar ul{margin:0px; padding:0px; list-style-type:none; margin-left:5px;}
.portal-spl-bar ul li{display:block; width:155px; height:40px; background:url(../homeimages/bank-icon-p.jpg) 0px 5px no-repeat #fff; padding-left:40px;padding-top:5px; padding-bottom:5px; border-bottom:1px solid #e8e8e8;}
.portal-spl-bar ul li a{font-family:Medium, Arial, Helvetica, sans-serif; font-size:14px; color:#313131; text-decoration:none; font-weight:normal; line-height:40px;}
.portal-spl-bar ul li a:hover{text-decoration:underline; color:#2184be;}
.cat-bar{width:100%; height:auto; box-shadow:0 0 3px #bbbbbb; margin-bottom:10px;  } 
.cat-bar h1{margin:0px; padding:0px; font-family:heading, Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal; text-align:center; line-height:35px; color:#2184be; background: #e8e8e8;} 
.cat-it-bar{width:200px; height:auto;  margin:0px auto; margin-top:5px;}
.cat-it-bar ul{margin:0px;  display:block; width:96%; height:auto; background:#fff; padding:2% 2%; border-bottom:1px solid #eee; margin-top:1px; }
.cat-it-bar ul li{list-style-type:none; display:block; width:100%; height:auto; min-height:38px; }
.cat-it-bar ul li img{display:block; width:35px; height:35px; float:left; margin-top:3px;}
.cat-it-bar ul li p{margin:0px; padding:0px; display:block; width:150px; height:auto; float:right; text-align:left;  font-size:14px; color:#0158ae; }
.cat-it-bar ul li p a{ 
    font-family:regular, Arial, Helvetica, sans-serif; font-size:14px; color:#313131;  text-decoration:none; line-height:40px; font-weight:normal; transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;} 
.cat-it-bar ul li p a:hover{ color:#2184be;}
/*****************************/
/* Top Line */
/*****************************/
.tabs{width:635px; height:auto; margin-left:5px; margin-top:10px; background:#fff; box-shadow:0 0 3px #bbbbbb;}
.tabs-style-topline {
	max-width: 1200px;
}

.tabs-style-topline nav li {
	border: 1px solid rgba(40,44,42,0.1);
}

.tabs-style-topline nav li:not(:last-child) {
	border-right: none;
}

.tabs-style-topline nav li.tab-current {
	border-top-color:#2184be;
	border-bottom: none;
}

.tabs-style-topline nav a {
	padding: 5px 6px;
	background: rgba(40,44,42,0.05);
	color: #313131; font-size:15px;
	line-height: 1;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.tabs-style-topline nav a:hover,
.tabs-style-topline nav a:focus {
	color: #2184be;
}

.tabs-style-topline nav li.tab-current a {
	background: none;
	box-shadow: inset 0 3px 0 #2184be;
	color: #2184be;
}

.tabs-style-topline .icon::before {
	display: block;
	margin: 0;
}

.tabs-style-topline nav a span {
	text-transform:capitalize;
	letter-spacing: 1px;
	font-weight:normal;
	font-size: 0.5em;
}

/*****************************/
/* Falling Icon, from http://vintageproductions.eu/grid/interactivity/ */ 
/*****************************/

.tabs-style-iconfall {
	overflow: visible;
}

.tabs-style-iconfall nav a {
	display: inline-block;
	overflow: visible;
	padding: 1em 0 2em;
	color: #74777b;
	line-height: 1;
	-webkit-transition: color 0.3s cubic-bezier(0.7,0,0.3,1); 
	transition: color 0.3s cubic-bezier(0.7,0,0.3,1);
}

.tabs-style-iconfall nav a:hover,
.tabs-style-iconfall nav a:focus,
.tabs-style-iconfall nav li.tab-current a {
	color: #2CC185;
}

.tabs-style-iconfall nav a span {
	font-weight: 700;
}

.tabs-style-iconfall nav li::before {
	position: absolute;
	bottom: 1em;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 4px;
	background: #2CC185;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s ease-in;
	transition: transform 0.2s ease-in;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
}

.tabs-style-iconfall nav li.tab-current::before {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.tabs-style-iconfall .icon::before {
	display: block;
	margin: 0 0 0.35em;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
	pointer-events: none;
}

.tabs-style-iconfall nav li.tab-current .icon::before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0; max-width:1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	width:122px;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 1em;
}

.tabs nav li.tab-current a {
	color: #2184be;
}

.tabs nav a:focus {
	outline: none;
}


/* Content */
.content-wrap {
	position: relative;
}


.content-wrap section {
	display: none;
	margin: 0 auto;
	padding:0.5em 1em;
	max-width: 1200px;
	text-align: center;
}

.content-wrap section.content-current {
	display: block;
}

.content-wrap section p {
	margin: 0;
	padding: 0.75em 0;
	color: rgba(40,44,42,0.05);
	font-weight: 900;
	font-size: 4em;
	line-height: 1;
}

/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

/*rss-tabs-con*/

.rss-tabs-con{width:100%; height:auto; }
.rss-tabs-con div{ width:100%; height:auto; text-align:left;    margin-top:5px; clear:both; border-bottom:1px solid #f2f2f2; }
		.rss-tabs-con div a {   font-size:14px;   color:#313131; text-decoration:none; font-weight:normal; line-height:24px; text-align:justify;  }
		.rss-tabs-con div a:hover{  color:#2184be;}
				.rss-tabs-con div:last-child{border-bottom:none;}
				.rss-tabs-con div .datefield:before{content:"Last date to apply : ";}
				.rss-tabs-con div .datefield{color: #ccc;
font-size: 12px;
font-weight: normal;
display:block;
text-align: right;
padding:0 5px 0 0; margin:0;}
		
.r-link{display:block; width:100%; height:25px;  text-align:right; margin:5px auto; margin-top:2px; padding:5px 0px 0px 0px; border-top:1px solid #e8e8e8; } 
.r-link a{font-size:14px; color:#2184be; text-decoration:none; font-weight:normal; line-height:25px;}
.r-link a:hover{ color:#313131;}
.soc-icon-bar{width:30px; height:auto; position:fixed; top:55px; right:5px; z-index:77;}
.fb{display:block; width:35px; height:35px; background:url(../homeimages/fb1.jpg) no-repeat; transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out;  -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out;}
.tw{display:block; width:35px; height:35px; background:url(../homeimages/tweet.jpg) no-repeat; transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out;  -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; margin-top:10px;}
.gp{display:block; width:35px; height:35px; background:url(../homeimages/gp.jpg) no-repeat; transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out;  -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; margin-top:10px;}
.you{display:block; width:35px; height:35px; background:url(../homeimages/you.jpg) no-repeat; transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out;  -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; margin-top:10px;}
.rss{display:block; width:35px; height:35px; background:url(../homeimages/rss.jpg) no-repeat; transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out;  -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; margin-top:10px;}
.fb:hover, .tw:hover, .gp:hover, .you:hover, .rss:hover{box-shadow:-3px 3px 3px #ff9900;}	
.bodytext{ font-size:13px; color:#333; text-align:justify;  line-height:20px;}
.social_icon1{width:auto; height:20px;  margin-top:10px; margin-right:20px; }
.land-body{ width:240px; height:auto; margin-left:10px;   box-shadow:0 0 1px #bbbbbb;    }
.l_h4{margin:0px; padding:0px; width:240px; height:40px; font-size:18px; 
  line-height:40px; text-align:center; font-weight:normal;  background: #01669a; color:#fff;   margin-left:10px; }
.land-body ul{margin:0px; padding:0px; display:block; width:100%; height:auto; background:#fff;  }
.land-body ul li{list-style-type:none; display:block; width:96%; min-height:25px; padding:5px 1% 5px 3%;  border-bottom:#f2f2f2 1px solid;}
.land-body ul li a{ font-weight:normal;   letter-spacing:1px; font-size:14px; text-decoration:none;  color:#313131; line-height:20px;    }
.land-body ul li a:hover{text-decoration:underline;}

.land-body-t{ width:240px; height:auto; margin-left:10px;   box-shadow:0 0 1px #bbbbbb;    }
.land-body-t ul{margin:0px; padding:0px; display:block; width:240px; height:auto; background:#fff;  }
.land-body-t ul li{list-style-type:none;}
.land-body-t ul li a{display:block; width:210px; min-height:25px; font-weight:normal;   letter-spacing:1px; font-family:'Conv_NATS',Arial, Helvetica, sans-serif; font-size:16px; text-decoration:none;  color:#313131; padding:5px 3px 5px 27px; line-height:20px;  background:url(../images/linkImg1.png) no-repeat 5px 8px; border-bottom:#f2f2f2 1px solid; }
.land-body-t ul li a:hover{color:#0076d1;}


.book-sale{width:97%; height:90px; background:url(../images/book-s-img.jpg) no-repeat 3px 0; padding:30px 0% 0 3%;  font-size:18px; color:#069; line-height:30px; margin-top:10px; }




.right-con-list h4{margin:0px; padding:0px; width:500px; height:40px; 
 margin:0px auto;  font-size:20px; color:#0075d2; font-weight:normal; line-height:40px; text-align:center; font-weight:bold; }
 .headingbg h4{margin:0px; padding:0px; width:100%; height:40px; font-family:regular, Arial, Helvetica, sans-serif;
 margin:0px auto;  font-size:20px; color:#313131; font-weight:normal; line-height:40px; text-align:center;  background:#f8f8f8; margin-bottom:15px; border-bottom: 2px solid #01669a;  }
 
 .quick-bar{width:100%; height:auto; background:#fff; box-shadow:0 0 3px #bbbbbb; padding-bottom:2px; margin-top:10px;}
.quick-bar h1{margin:0px; padding:0px; width:100%; height:40px;  font-size:20px; color:#313131; font-weight:normal; text-align:center; line-height:40px; border-bottom: 2px solid #01bbd4;}
.quick-bar ul{margin:0px; padding:0px;  list-style-type:none; }
.quick-bar ul li{display:block; width:95%; height:35px; padding-left:5%; }
.quick-bar ul li a{ font-size:15px; color:#313131; line-height:35px; text-decoration:none; font-weight:normal;}
.quick-bar ul li a:hover{text-decoration:underline;}

 .j-bar{width:280px; height:auto; background:#fff; box-shadow:0 0 3px #bbbbbb; padding-bottom:2px; margin-left:10px; margin-bottom:15px;}
.j-bar h1{margin:0px; padding:0px; width:100%; height:40px;  font-size:20px; color:#313131; font-weight:normal; text-align:center; line-height:40px; border-bottom: 2px solid #0071bd;}
.j-bar ul{margin:0px; padding:0px;  list-style-type:none; }
.j-bar ul li{display:block; width:95%; height:35px; padding-left:5%; border-bottom:1px solid #f2f2f2;  }
.j-bar ul li a{ font-size:14px; color:#313131; line-height:35px; text-decoration:none; font-weight:normal;}
.j-bar ul li a:hover{text-decoration:underline;}

.title, .title a, .title a:hover {

font-size: 16px;
font-weight: normal;
color: #313131;
text-decoration: none;
padding:20px 0px 5px 0px; line-height:25px; cursor:default;
}

.titlet, .titlet a, .titlet a:hover {
font-family:'Conv_NATS',Arial, Helvetica, sans-serif;
font-size: 17px;
font-weight: normal;
color: #313131;
text-decoration: none;
padding:20px 0px 5px 0px; line-height:25px; cursor:default;
}

.morelink a{ font-size:14px; color:#0075d2;  background: #319ad1; /* Old browsers */
background: -moz-linear-gradient(top, #319ad1 0%, #ffffff 50%, #319ad1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#319ad1), color-stop(50%,#ffffff), color-stop(100%,#319ad1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #319ad1 0%,#ffffff 50%,#319ad1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #319ad1 0%,#ffffff 50%,#319ad1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #319ad1 0%,#ffffff 50%,#319ad1 100%); /* IE10+ */
background: linear-gradient(to bottom, #319ad1 0%,#ffffff 50%,#319ad1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#319ad1', endColorstr='#319ad1',GradientType=0 ); /* IE6-9 */ padding:7px 12px; margin-top:5px; box-shadow:0 0 5px #ccc; border-radius:5px; text-decoration:none;}
.morelink a:hover{text-decoration:underline;}



.gridview{
    background-color:#fff;
   display:block;
   padding:2px;
   margin:10px auto;
   clear:both;
   
   
}
.gridview a{
  margin:0px 3px;
    border-radius:5px;
      background-color:#f2f2f2;
      padding:2px 8px;
      color:#fff;
      text-decoration:none;
	  box-shadow:0 0 3px #bbbbbb;
     
     
}


.gridview span{
    background-color:#069; 
    color:#fff;
       margin:0px 3px;

    border-radius:5px;
    padding:2px 8px;
}
.gridview-t{
    background-color:#fff;
   display:block;
   padding:2px;
   margin:10px auto;
   clear:both;
   
   
}
.gridview-t a{font-family:Regular, Arial, Helvetica, sans-serif;
  margin:8px 0px 0px 5px; display:block; float:left;
    border-radius:5px;
      background-color:#f2f2f2;
      padding:3px 8px;
      color:#313131;
      text-decoration:none;
	  box-shadow:0 0 3px #bbbbbb;  font-size:14px; 
     
     
}
.gridview-t a:hover{color:#313131; text-decoration:underline;}

.MdStoryHeadsTel{color:#E7512F; font-family:'Conv_Ramabhadra',Arial, Helvetica, sans-serif; font-size:24px; font-weight:normal; line-height:40px;}
.MdTelIntro{color:#313131; font-family:'Conv_NATS',Arial, Helvetica, sans-serif; font-size:20px; font-weight:normal; line-height:200%; padding:0px 8px 0px 8px;  letter-spacing:0px;}
.MdbodytextTel{color:#313131; font-family:'Conv_NATS',Arial, Helvetica, sans-serif; font-size:20px; font-weight:normal; line-height:35px; padding:0px 8px 0px 8px;  letter-spacing:0px;}
.head1{color:#E7512F;  font-size:20px; font-weight:normal; }
.Eintroeng{color:#313131;  font-size:15px; font-weight:normal; line-height:200%; padding:0px 8px 0px 8px;  letter-spacing:0px; text-align:justify;}
.Emattereng{color:#313131;  font-size:15px; font-weight:normal; line-height:200%; padding:0px 8px 0px 8px;  letter-spacing:0px;}

.other-links{width:280px; height:40px; text-align:center; margin:10px auto; padding:0px 10px; background: #313131;
 border-radius:5px;   }
 .Emattereng ol li{padding:5px;}
 .Emattereng ol li a{font-size:15px; color:#313131; }
 .Emattereng ol li a:hover{text-decoration:underline;}
.other-links a{font-size:16px;color:#fff; line-height:40px; text-decoration:none;}
.other-links a:hover{text-decoration:underline;}
.GroupIIStoryLnksEnglish{margin:0; padding:0; list-style-type:none;}
.GroupIIStoryLnksEnglish li{display:block; padding:6px 13px; background:#f2f2f2; margin-top:5px;}
.GroupIIStoryLnksEnglish li a{color:#0071bd;}
.GroupIIStoryLnksEnglish li a:hover{text-decoration:underline;}
.titleeng, .titleeng a{display:block;

font-size: 16px;
font-weight:normal;
color: #01669a;
text-decoration: none;
text-align:left;
margin-top:10px;
line-height: 22px;
}
.titleeng a:hover{color:#313131; text-decoration: none;}
.titletel, .titletel a{display:block;
font-family:'Conv_NATS',Arial, Helvetica, sans-serif;
font-size: 21px;
font-weight: normal;
color: #01669a;
text-decoration: none;
text-align:left;
margin-top:10px;
line-height: 20px;
}
.titletel a:hover{color:#313131; text-decoration: none;}
.dec-text{ font-size:14px; color:#666; display:block;  line-height:23px; }
.listn-img{width:100px; height:100px; float:left;  margin:5px 0px; }
.listn-con{width:82%; height:auto; float:right;  margin:5px 0px; padding:5px 0px; }
.dlink{padding:5px 5px; font-size:15px; color:#069; text-align:right; }


.imgL {
BORDER-RIGHT: #cbcaca 1px solid;
PADDING-RIGHT: 4px;
BORDER-TOP: #cbcaca 1px solid;
PADDING-LEFT: 4px;
PADDING-BOTTOM: 4px;
BORDER-LEFT: #cbcaca 1px solid;
PADDING-TOP: 4px;
BORDER-BOTTOM: #cbcaca 1px solid;
BACKGROUND-COLOR: #fff;
MARGIN: 6px 10px 6px 0px;
FLOAT: Left;
}


.imgR {
BORDER-RIGHT: #cbcaca 1px solid;
PADDING-RIGHT: 4px;
BORDER-TOP: #cbcaca 1px solid;
PADDING-LEFT: 4px;
PADDING-BOTTOM: 4px;
BORDER-LEFT: #cbcaca 1px solid;
PADDING-TOP: 4px;
BORDER-BOTTOM: #cbcaca 1px solid;
BACKGROUND-COLOR: #fff;
MARGIN: 6px 0 6px 10px;
FLOAT: right;
}		
.exam-res-bar{width:300px; height:auto; background:#fff; box-shadow:0 0 2px #bbb; padding:0px 0 5px 0; margin-top:15px;}
.exam-res-bar h1{margin:0px; padding:0; width:100%; height:40px; text-align:center;  font-size:20px; background: #01669a; color:#fff; font-weight:normal; line-height:40px;   }
 .exam-res-bar ul{margin:0; padding:0; list-style-type:none;}
 .exam-res-bar ul li{display:block; width:95%; height:35px; padding-left:5%; border-bottom:1px solid #f2f2f2;}
 .exam-res-bar ul li:last-child{border-bottom:none;}
 .exam-res-bar ul li a{font-size:16px; color:#313131; text-decoration:none; line-height:35px;}
  .exam-res-bar ul li a:hover{color:#f90; text-decoration:underline;}
.rss-feed-bar{width:100%; height:auto;}
.rss-feed-bar div{width:96%; height:auto;  padding:3px 2%; border-bottom:1px solid #f2f2f2; }
.rss-feed-bar div a{  font-size:14px;  color:#313131;  text-decoration:none; line-height:23px; }
.rss-feed-bar div a:hover{ color:#01669a;}
.rss-feed-bar div:last-child { border:none;}
.rss-feed-bar ul{margin:0; padding:0; list-style-type:none;}
.rss-feed-bar ul li{width:96%; height:35px;  padding:0px 0 0 4%; border-bottom:1px solid #f2f2f2; }
.rss-feed-bar ul li a{  font-size:14px;  color:#313131;  text-decoration:none; line-height:35px; }
.rss-feed-bar ul li a:hover{text-decoration:underline;}
.m-a{ font-size:14px; color:#01bbd4; text-decoration:none; font-weight:normal; margin-left:240px;}
.m-a:hover{text-decoration:underline;}	
.Testimonials{padding:10px; background:#069; color:#fff; text-align:center; margin-top:15px; font-size:18px;}
.name-bar{margin:0px; padding:0px; list-style-type:none; margin-top:3px;}
.name-bar li{display:block; padding:5px 10px; background:#f2f2f2;}
.name-bar li .name{ color:#069; font-weight:bold;}
.name-bar li .date{ color:#ccc; text-align:right;}
.bhavita-main-page{width:670px; height:auto; margin:0px auto;}
.bavita-bar{width:300px; height:auto; background:#fff; box-shadow:0 0 3px 0 #bbbbbb; float:left; margin-left:25px; padding:5px;}
.bavita-bar h1{width:100%; height:auto; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#fff; font-weight:bold; margin:0px; padding:10px 0px; text-align:center; text-transform:uppercase; letter-spacing:1px; background:#0092e6;
 background:-moz-linear-gradient(top, #0092e6, #0081cb);
 background:-webkit-gradient(linear, left top, left bottom, from(#0092e6), to(#0081cb));}
 .b-link-con{display:block; width:90px; padding:7px 0px; text-align:center; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; text-decoration:none; background:#67ae3d;
 background:-moz-linear-gradient(top, #67ae3d, #4ca01a);
 background:-webkit-gradient(linear, left top, left bottom, from(#67ae3d), to(#4ca01a)); border-radius:5px; margin:10px auto;  text-transform:uppercase; letter-spacing:1px; font-weight:bold; box-shadow:0px 1px 3px #569e2b;}
  .b-link-con:hover{color:#000;}
  .t-p-a{BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; MARGIN: 8px 0px; PADDING-LEFT: 10px; WIDTH: auto; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: #f2f2f2; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; TEXT-DECORATION:none; PADDING-TOP: 10px; border-radius: 2px; color:#414141;}
  .letheadline {
    FONT-SIZE: 18px;
    FONT-FAMILY: Arial,Verdana,Helvetica,sans-serif;
    COLOR: #000;
    line-height: 150%;
    PADDING-RIGHT: 00px;
    PADDING-LEFT: 0;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    font-weight: bold;
    text-align: center;
    MARGIN: 0;
}
.arch{border-collapse:collapse;}
.arch tr td a{color:#313131;}
.arch tr td a:hover{text-decoration:underline;}
.ExamsTbltxt tr td{padding:3px; font-size:14px; line-height:25px; padding-left:5px;}
.ExamsTbltxt tr td a{ font-size:14px; color:#01669a; }
.ExamsTbltxt tr td a:hover{text-decoration:underline;}
.exam-r-link{background:#f2f2f2; padding:5px 0;}
.exam-r-link a{display:block; padding:8px 12px; background:#313131; font-size:15px; color:#fff; text-decoration:none; font-weight:normal; float:left;margin:0 3px 0 5px;}
.exam-r-link a:hover{text-decoration:underline;}